<!DOCTYPE html>
<html lang="en">
<html>
  <head>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/style.css">

    <title>{{ adoptTitle }}</title>
  </head>

  <body>
    <h1>{{ adoptTitle }}</h1>

<!--nav menu-->
<div class='row'>
<div class='col-lg-10 offset-lg-1'>
<div class='nav'>
  <ul class='navList'>
    <li><a href='/'>Home</a></li>
    <li><a href='/searchCats'>Search Cats</a></li>
    <li><a href='/allCats'>All Cats</a></li>
    <li><a href='/successStories'>Success Stories</a></li>
    <li><a href='/adoptApplication'>Adoption Application Form</a></li>
    <li><a href='/contact'>Contact</a></li>
  </ul>
</div><!--close nav-->
</div><!--close col-->
</div><!--close row-->

<div class='row'>
<div class='col-lg-8 offset-lg-2'>

    <h2>Thank you!</h2>
    <br/>
    <p>Thank you for submitting your application. Someone will be in contact with you shortly.</p>
    <p>Click <a href='/'>here</a> to go back to the homepage.</p>

  </div>
  </div>
  </body>
</html>