<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <title>Rescues: Cat Adoption</title>
  </head>

<body>

<div class='row'>
<div class='col-lg-12'>
    <h1>
    {% block header1 %}
    {% endblock %}
    </h1>
</div>
</div>
    
<!--nav menu-->
<div class='row'>
<div class='col-lg-10 offset-lg-1'>
  <ul class='navList'>
    <li><a href='/rescueHome'>Rescue Home</a></li>
    <li><a href='/rescueAddCat'>Add A Cat</a></li>
    <li><a href='/rescueViewApps'>View Applications</a></li>
    <li><a href='/rescueCatStatus'>Adjust Cat Status</a></li><!--still working on-->
    <li><a href='/rescueViewRescues'>All Rescues</a></li>
  </ul>
</div><!--close col-->
</div><!--close row-->

<div class='row'>

    {% block content %}
    {% endblock %}

</div> 
  
  <footer>

<br/>
<br/>

<div class='row'>
<div class='col-lg-10 offset-lg-1'>

<ul class='footerNav'>
    <li><a href='/rescueHome'>Rescue Home</a></li>
    <li><a href='/addCat'>Add A Cat</a></li>
    <li><a href='/viewApps'>View Applications</a></li>
    <li><a href='/rescueCatStatus'>Adjust Cat Status</a></li><!--still working on-->
    <li><a href='/allRescues'>All Rescues</a></li>
    <li><a href='/'>Public Page</a></li><!--back to public page-->
    <li><a href='/adminHome'>Admin Home</a></li><!--admin page-->
  </ul>

</div><!--close col-->
</div><!--close row-->
</footer> 

  </body>
</html>