{% extends "layout.html" %}

{% block header1 %}

{{ adoptTitle }} Search By Trait

{% endblock %}


{% block content %}



<br/>

<div class='col-lg-7 offset-lg-1'>

<p>Below are the cats available for adoption based on your search.</p>

</div>
</div>


<br/>

<div class='row'>
<div class='col-lg-11 col-lg-offset-1'>
        
 {% for row in rows2 %}

         <div class='col-lg-3' style='display:inline-block;vertical-align:top;margin-bottom:50px;'>
            <h3>Meet {{row["name"]}} </h3>
            <img src='{{row["imageURL"]}}' style='width:65%;display:inline-block;'>
            <div>Age: {{row["age"]}} </div>
            <div>Gender: {{row["gender"]}} </div>
            <div>Breed: {{row["breed"]}} </div>
            <div>Colour: {{row["colour"]}} </div>
            <div>Rescue: {{row["rescue"]}} </div>
            <div>{{row["name"]}} would be described as {{row["trait1"]}}, {{row["trait2"]}}, and {{row["trait3"]}}. {{row["description"]}}</div>
         </div>

         {% endfor %}



</div><!--end col-lg-10-->
</div><!--end row-->

<br/>
<br/>

     

{% endblock %}